

.row-map{
	float:left;
	margin-bottom:2px;
}

.clear{
	clear:both;
}

.map{
	background-color: black;
	float: left;
	margin-left: 2px;
}

.img_size, .map{
	width: 60px;
	height: 60px;
}

#comodo_img{
	width: 60px;
	height: 60px;
}